@media only screen and (min-width: 64rem) {
    #cs-navigation {
      width: 100%;
      box-sizing: border-box;
      padding: 0 1rem;
      background-color: #fefefe;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;
    }
    #cs-navigation .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
    }
    #cs-navigation .cs-toggle {
      display: none;
    }
    #cs-navigation .cs-logo {
      width: 18.4%;
      max-width: 21.875rem;
      height: 4.0625rem;
      margin: 0 auto 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
    #cs-navigation .cs-logo img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    #cs-navigation .cs-ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    #cs-navigation .cs-li {
      list-style: none;
      padding: 2rem 0;
      flex: none;
    }
    #cs-navigation .cs-li-link {
      font-size: clamp(0.875rem, 1vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
      position: relative;
      color: #000;
    }
    #cs-navigation .cs-li-link:hover:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link.cs-active:before {
      width: 100%;
    }
    #cs-navigation .cs-li-link:before {
      content: "";
      width: 0%;
      height: 2px;
      background: var(--primary);
      opacity: 1;
      display: block;
      position: absolute;
      bottom: 0rem;
      left: 0;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid {
      font-size: 1rem;
      font-weight: 700;
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-align: center;
      text-decoration: none;
      min-width: 9.375rem;
      margin: 0;
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #000;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #cs-navigation .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #add1e9;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cs-navigation .cs-button-solid:hover:before {
      width: 100%;
    }
  }

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
    #hero-856 {
      text-align: center;
      padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
      background-color: #f7f7f7;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero-856 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }
    #hero-856 .cs-content {
      max-width: 39.375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #hero-856 .cs-topper {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #hero-856 .cs-title {
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 23ch;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #hero-856 .cs-text {
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: 33.1875rem;
      margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
      color: var(--bodyTextColor);
    }
    #hero-856 .cs-button-solid {
      font-size: 1rem;
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
    }
    #hero-856 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #add1e9;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #hero-856 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-856 .cs-picture {
      width: 100%;
      max-width: 35.625rem;
      height: clamp(25rem, 95vw, 44.5rem);
      border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
      overflow: hidden;
      display: block;
      position: relative;
    }
    #hero-856 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
    #hero-856 .cs-wave {
      width: 320%;
      height: auto;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  @media only screen and (min-width: 64rem) {
    #hero-856 {
      text-align: left;
    }
    #hero-856 .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }
    #hero-856 .cs-content {
      width: 40vw;
      flex: none;
      align-items: flex-start;
      order: 2;
    }
    #hero-856 .cs-title,
    #hero-856 .cs-text {
      text-align: left;
    }
    #hero-856 .cs-picture {
      height: clamp(38.9375rem, 60vw, 50.875rem);
    }
    #hero-856 .cs-wave {
      width: 100%;
      left: 0;
      transform: scaleX(-1);
    }
  }

/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
    #blog-1540 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    #blog-1540:before {
      content: '';
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: .05;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #blog-1540 .cs-container {
      width: 100%;
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #blog-1540 .cs-content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #blog-1540 .cs-title {
      max-width: 23ch
      
    }
    #blog-1540 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(12, 1fr);
      gap: 1.25rem;
    }
    #blog-1540 .cs-item {
      text-align: left;
      list-style: none;
      padding: clamp(1rem, 3vw, 1.5rem);
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 2.5rem;
      grid-column: span 12;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: border-color 0.3s;
    }
    #blog-1540 .cs-item:hover {
      border-color: var(--primary);
    }
    #blog-1540 .cs-link {
      text-decoration: none;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 1;
    }
    #blog-1540 .cs-picture-group {
      width: 100%;
      margin-bottom: 1.5rem;
      position: relative;
    }
    #blog-1540 .cs-picture {
      width: 100%;
      height: clamp(12.5rem, 45vw, 21.25rem);
      background-color: #1a1a1a;
      display: block;
      position: relative;
      z-index: 1;
      overflow: hidden;
      flex: none;
    }
    #blog-1540 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.6s, opacity 0.3s;
    }
    #blog-1540 .cs-mask {
      --maskBG: #fff;
      --maskBorder: #e8e8e8;
      width: 101%;
      height: 101%;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: 1;
    }
    #blog-1540 .cs-flex {
      margin: 0 0 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
    }
    #blog-1540 .cs-tag {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      width: fit-content;
      margin-right: 0;
      padding: 0.5rem 1rem;
      color: var(--primary);
      border-radius: 6.25rem;
      display: block;
      position: relative;
      overflow: hidden;
      color: #000;
    }
    #blog-1540 .cs-tag::before {
      content: "";
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }
    #blog-1540 .cs-date {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      color: #000;
    }
    #blog-1540 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      color: #000;
    }
    #blog-1540 .cs-h3 {
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 0.5rem 0;
      color: var(--headerColor);
      transition: color 0.3s;
      color: #000;
    }



    #blog-1540 .cs-bottom {
      margin: 1.5rem 0 0 0;
      padding: 1.5rem 0 0 0;
      border-top: 1px solid #E8E8E8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;
    }
    #blog-1540 .cs-author-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #blog-1540 .cs-profile {
      width: 3.125rem;
      height: 3.125rem;
      border: 2px solid #BABABA;
      background-color: #BABABA;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      display: block;
    }
    #blog-1540 .cs-profile img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #blog-1540 .cs-name {
      font-size: 1rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: block;
      color: #000;
    }
    #blog-1540 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 700;
      margin: 0;
      color: var(--secondary);
      display: block;
      color: #000;
    }
    #blog-1540 .cs-wrapper {
      width: 3rem;
      height: 3rem;
      border: 1px solid #bababa;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #blog-1540 .cs-background {
      --backgroundBG: #fff;
      width: 100%;
      min-width: 120rem;
      height: auto;
      position: absolute;
      left: 0;
    }
    #blog-1540 .cs-background-top {
      top: 0;
    }
    #blog-1540 .cs-background-bottom {
      bottom: 0;
      transform: rotateX(180deg);
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #blog-1540 .cs-container {
      max-width: 80rem;
    }
    #blog-1540 .cs-picture {
      height: 12.5rem;
    }
    #blog-1540 .cs-item {
      grid-column: span 4;
    }
  }
                                  
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
    #cs-footer-1292 {
        padding: var(--sectionPadding);
        padding-bottom: 1.25rem;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 10;
    }
    #cs-footer-1292 .cs-container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 2.25rem;
    }
    #cs-footer-1292 .cs-logo-group {
        width: 100%;
        position: relative;
    }
    #cs-footer-1292 .cs-logo {
        width: 12.3125rem;
        height: auto;
        display: block;
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
    }
    #cs-footer-1292 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-1292 .cs-logo-img.dark {
        display: none;
    }
    #cs-footer-1292 .cs-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
        width: 78%;
        max-width: 15rem;
        color: var(--bodyTextColor);
    }
    #cs-footer-1292 .cs-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-link:hover {
        color: var(--primary);
    }
    #cs-footer-1292 .cs-nav {
        width: 45%;
        max-width: 11.25rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    #cs-footer-1292 .cs-nav-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #cs-footer-1292 .cs-header {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        position: relative;
        display: block;
    }
    #cs-footer-1292 .cs-nav-link {
        font-size: 0.875rem;
        text-decoration: none;
        line-height: 1.5em;
        width: auto;
        color: var(--bodyTextColor);
        position: relative;
        display: inline-block;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-nav-link:before {
        content: "";
        width: 0%;
        height: 0.125rem;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-1292 .cs-nav-link:hover {
        color: var(--primary);
    }
    #cs-footer-1292 .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer-1292 .cs-bottom {
        max-width: 80rem;
        margin: auto;
        margin-top: clamp(3rem, 9vw, 6.25rem);
        padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 2.25rem;
        row-gap: 0.75rem;
    }
    #cs-footer-1292 .cs-copyright,
    #cs-footer-1292 .cs-copyright-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        color: var(--bodyTextColor);
    }
    #cs-footer-1292 .cs-copyright {
        text-align: center;
        width: 100%;
    }
    #cs-footer-1292 .cs-copyright-link {
        text-decoration: none;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-copyright-link:hover {
        color: var(--secondary);
    }
    #cs-footer-1292 .cs-floater {
        width: 31.625rem;
        height: 31.625rem;
        margin-left: 34.375rem;
        border-radius: 50%;
        border: 2px solid var(--primary);
        opacity: 0.1;
        display: none;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
    }
    #cs-footer-1292 .cs-floater:before {
        content: "";
        width: 44.6875rem;
        height: 44.6875rem;
        border: 2px solid var(--primary);
        border-radius: 50%;
        opacity: 0.6;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cs-footer-1292 .cs-floater:after {
        content: "";
        width: 60.1875rem;
        height: 60.1875rem;
        border: 2px solid var(--primary);
        border-radius: 50%;
        opacity: 0.3;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (min-width: 48rem) {
    #cs-footer-1292 .cs-container {
        row-gap: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5.5rem;
        row-gap: 2.5rem;
    }
    #cs-footer-1292 .cs-nav {
        width: auto;
    }
    #cs-footer-1292 .cs-bottom {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    #cs-footer-1292 .cs-copyright {
        text-align: left;
        width: auto;
        margin-right: auto;
    }
    #cs-footer-1292 .cs-floater {
        display: block;
    }
}
@media only screen and (min-width: 64rem) {
    #cs-footer-1292 .cs-container {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: flex-end;
        column-gap: clamp(2.5rem, 6vw, 5.25rem);
    }
    #cs-footer-1292 .cs-logo-group {
        width: 30%;
        max-width: 24.1875rem;
        margin-right: auto;
    }
    #cs-footer-1292 .cs-text {
        width: 100%;
    }
    #cs-footer-1292 .cs-graphic {
        display: block;
    }
}

                                
                                  
                                  